body {
	background-color: #333;
	padding: 0px;
	margin: 0px;
}
header .logo {
	display: grid;
	align-content: center;
	justify-content: center;
}
header img {
	min-width: 60px;
	padding: 5px;
}
body nav {
	position: fixed;
	width: 100%;
	top: 0;
	border-bottom: 2px dotted grey;
	background-color: #262626;
	display: grid;
	grid-template-columns: 2fr 18fr;
	grid-template-rows: auto;
	text-align: center;
	align-content: center;
}
body nav ul {
	list-style-type: none;
	text-align: center;
}
body nav ul li {
	padding-top: 9px;
}
body nav ul li a {
	text-decoration: none;
	color: #FFF;
	padding-top: 0px; 
	padding-left: 8px; 
	padding-right: 8px;
}
nav ul li a:hover {
	color: #FF66FF;
}
nav ul li a:active {
	color: #660033;
	background-color: #333;
}
main {
}
main img {
	width: 100%;
}
main h1 {
	color: #FFF;
	text-align: center;
	font-family: Palatino;
	margin-top: 45px;
}
main p {
	color: #C4C4C4;
	text-align: center;
	margin: 20px;
}
main ul {
	color: #C4C4C4;
	list-style: none;
}
main form {
	color: #C4C4C4;
	margin: 30px;
}
main a {
	color: #C4C4C4;
	text-decoration: none;
}
main a:visited {
	color: #C4C4C4;
	text-decoration: none;
}
main a:hover {
	color:#FFF;
	text-decoration: none;
}
main a:active {
	color: #262626;
}
body main h2 {
	text-align: center;
	color: #E5E5E5;
}
textarea[name=name] {
	resize: none;
}
textarea[name=email] {
	resize: none;
}
textarea {
	border-radius: 0.5vw;
	width: 100%;
}
button {
	background-color: #C4C4C4;
	border: none;
	padding: 15px;
	color: #333;
	border-radius: 1.5vw;
}
.parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.parallax1 {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
.textoverlay {
	position: relative;
	text-align: center;
	color: #660033;
	text-shadow: 1px 1px #C4C4C4;
}
.centeredtext {
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.top-left-text {
	position: absolute;
	top: 8px;
	left: 16px;
}
@media (min-width: 761px){
body nav {
	height: 100px;
	position: fixed;
}
body main {
	margin-top:120px;
}
body nav ul li {
	display: inline-block;
}
}
@media (max-width: 760px){
body nav {
	height: 160px;
	position: static;
}
body main {
	margin-top:0px;
}
body nav ul li {
	display: block;
}
.current {
        background-color: #333;
}
}
